.header_buttons {
  float: right;
}

button {
  /* background-color: burlywood; */
  border: none;
  background-color: #ddd;
  border-radius: 16px;
  margin: 5px;
}
button:hover {
  background-color: #88ccee;
}
button:active {
  background-color: #999933;
}
