.note {
  border: 1px dashed rgb(141, 141, 141);
  /* background: rgb(141, 141, 141); */
  border-radius: 10px;
  font-size: 0.7em;
  padding: 1px 6px;
  resize: none;
  display: block;
  max-width: 30em;
  overflow: hidden;
  min-height: 1em;
  line-height: 1em;
  font-family: taamey frank, adobe-garamond-pro, crimson text, Georgia,
    times new roman, serif;
  direction: ltr;
  white-space: pre-wrap;
  color: rgb(58, 57, 57);
  outline: none;
}

.note {
  grid-area: 'note';
}

.switch {
  grid-area: 'switch';
  top: 0.5em;
}

.block {
  display: grid;
  grid-template-areas:
    'text switch'
    'note .';
  grid-gap: 0;
  /* background-color: #c4c4c4; */
  /* padding: 10px; */
  /* float: right; */
  right: 0px;
  position: absolute;
  clear: both; /* used in conjunction with float to move new blocks to new line */
}

.text_editor {
  /* color: black; */
  border: 1px solid black;
  border-radius: 0.25em;
  background-color: white;
  /* height: 200px;
  width: 300px; */
  /* overflow-y: auto; */
  display: inline;
  min-width: 15em;
  max-width: 15em;
  overflow: auto;
  /* min-height: 1.5em; */
  margin-bottom: -0.05em;
  padding-bottom: 0.1em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-top: 0;
  line-height: 1.4em;
  /* text-decoration: underline;
  text-decoration-color: coral; */
  font-family: taamey frank, adobe-garamond-pro, crimson text, Georgia,
    times new roman, serif;
  direction: rtl;
  grid-area: 'text';
}
