.text {
  /* border: none; 3px solid rgb(0, 0, 0); */
  border: none;
  background: rgb(255, 255, 255);
  font-size: 1em;
  padding: 10px;
  resize: none;
}

.text {
  display: inline;
  min-width: 15em;
  max-width: 30em;
  overflow: hidden;
  min-height: 1em;
  line-height: 1em;
}

.text {
  font-family: taamey frank, adobe-garamond-pro, crimson text, Georgia,
    times new roman, serif;
  direction: rtl;
  white-space: pre-wrap;
  color: black;
  outline: none;
}

.note {
  border: 1px dashed rgb(141, 141, 141);
  /* background: rgb(141, 141, 141); */
  border-radius: 10px;
  font-size: 0.7em;
  padding: 1px 6px;
  resize: none;
  display: block;
  max-width: 30em;
  overflow: hidden;
  min-height: 1em;
  line-height: 1em;
  font-family: taamey frank, adobe-garamond-pro, crimson text, Georgia,
    times new roman, serif;
  direction: ltr;
  white-space: pre-wrap;
  color: rgb(58, 57, 57);
  outline: none;
}

.block {
  grid-area: left;
}

.note {
  grid-area: note;
}
.text {
  grid-area: text;
}
.switch {
  grid-area: switch;
  top: 0.5em;
}

.block {
  display: grid;
  grid-template-areas:
    'text switch'
    'note .';
  grid-gap: 0;
  /* background-color: #c4c4c4; */
  /* padding: 10px; */
  float: right;
  clear: both; /* used in conjunction with float to move new blocks to new line */
}

.text_editor {
  /* color: black; */
  border: 1px solid black;
  border-radius: 0.25em;
  background-color: white;
  /* height: 200px;
  width: 300px; */
  /* overflow-y: auto; */
  display: inline;
  min-width: 15em;
  max-width: 30em;
  overflow: hidden;
  /* min-height: 1.5em; */
  margin: 0;
  padding-bottom: 0.1em;
  padding-top: 0;
  line-height: 1.4em;
  /* text-decoration: underline;
  text-decoration-color: coral; */
  font-family: taamey frank, adobe-garamond-pro, crimson text, Georgia,
    times new roman, serif;
  direction: rtl;
}
