.nodex {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px #999 solid;
  border-radius: 5px;
  text-align: right;
  width: 125px;
  min-height: 30px;
  color: black;
  font-size: 0.5em;
  background-color: yellow;
  opacity: 0.3;
}
