.left-panel {
  grid-area: left;
  left: 0px;
  top: 0px;
  position: absolute;
  width: 140%;
  height: 20em;
  background: white;
}

.right-panel {
  grid-area: right;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 20em;
  width: 55%;
}

.bottom {
  display: grid;
  position: relative;
  grid-area: 'bottom';
  grid-template-areas: 'left right';
}

.right_buttons {
  text-align: center;
  grid-area: 'top_right';
  padding-left: 8.5em;
  width: 30em;
  background-color: beige;
  margin-bottom: 1em;
  border-bottom-right-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

.load_save_buttons {
  text-align: left;
  grid-area: 'top_left';
  background-color: beige;
  margin-bottom: 1em;
  border-bottom-left-radius: 0.25em;
  border-top-left-radius: 0.25em;
  width: 30em;
}

.top {
  position: sticky;
  top: 0;
  grid-area: 'top';
  z-index: 10;
  display: grid;
  grid-template-areas: 'top_left top_right';
}

.App {
  display: grid;
  grid-template-areas:
    'top'
    'bottom';
  grid-gap: 0;
  justify-content: center;
  align-items: center;
}
