.left_panel {
  grid-area: left;
  left: 0px;
  border: 1px solid rgb(241, 241, 241);
  /* border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; */
  position: absolute;
  overflow-y: scroll;
  overflow-x: scroll;
  width: 100%;
  height: 10em;
  resize: both;
  background-color: white;
  z-index: 10;
}

.right_panel {
  grid-area: right;
  position: absolute;
  right: 0px;
  overflow-y: auto;
  height: 20em;
  width: 100%;
  padding-bottom: 30px;
  z-index: 9;
}

.bottom {
  display: grid;
  position: relative;
  grid-area: 'bottom';
  grid-template-areas: 'left right';
}

.right_buttons {
  text-align: center;
  grid-area: 'top_right';
  padding-left: 8.5em;
  width: 16em;
  background-color: beige;
  margin-bottom: 1em;
  border-bottom-right-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

.load_save_buttons {
  text-align: right;
  grid-area: 'top_left';
  background-color: beige;
  margin-bottom: 1em;
  border-bottom-left-radius: 0.25em;
  border-top-left-radius: 0.25em;
}

.top {
  position: sticky;
  top: 0;
  grid-area: 'top';
  z-index: 10;
  display: grid;
  grid-template-areas: 'top_left top_right';
}

.App {
  display: grid;
  grid-template-areas: 'top', 'bottom';
  grid-gap: 0;
  justify-content: center;
  align-items: center;
}

.drag-bar {
  top: 0px;
  left: 0px;
  position: sticky;
  height: 0.8em;
  background-color: #f1f1f1;
  z-index: 99;
  cursor: grab;
}

.drag-bar:hover {
  cursor: grab;
  background-color: #c1c1c1;
}
