.left_panel {
  grid-area: 'left';
}

.right_panel {
  grid-area: 'right';
}

.bottom {
  display: grid;
  grid-area: 'bottom';
  grid-template-areas: 'left right';
}

.right_buttons {
  text-align: center;
  grid-area: 'top_right';
  padding-left: 8.5em;
  width: 16em;
  background-color: beige;
  margin-bottom: 1em;
  border-bottom-right-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

.load_save_buttons {
  text-align: right;
  grid-area: 'top_left';
  background-color: beige;
  margin-bottom: 1em;
  border-bottom-left-radius: 0.25em;
  border-top-left-radius: 0.25em;
}

.top {
  position: sticky;
  top: 0;
  grid-area: 'top';
  z-index: 99;
  display: grid;
  grid-template-areas: 'top_left top_right';
}

.App {
  display: grid;
  grid-template-areas: 'top', 'bottom';
  grid-gap: 0;
  justify-content: center;
  align-items: center;
}
